<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>
<body>
    <h1>操作成功！</h1>
    <p th:text="'Reason:' + ${reason} + '!'" />
</body>
</html>