<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userInfo</title>
</head>
<body>

<a id="logout" name="logout" href="/logout">注销</a><br>
<a id="modifyPassword" name="modifyPassword" href="/modify">修改密码</a>
<br>

<a id="addhobby" name="addhooby"  th:if="${user.role} =='student'" href="/addHobby">添加个人兴趣</a>
<a id="skill" name="skill" th:if="${user.role}=='teacher'">技能特长</a>

<h4>我的信息</h4>
<a id="modifyInfo" name="modifyInfo" href="/modifyInfo">修改信息</a><br>

<div id="getUserInfo">
    <table>
        <tr>
            <td>账户</td>
            <td>用户名</td>
            <td>密码</td>
            <td>角色</td>
            <td>性别</td>
            <td>电话</td>
            <td>住址</td>

        </tr>
        <tr>
            <td th:text="${user.account}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.tel}"></td>
            <td th:text="${user.address}"></td>

        </tr>
    </table>
</div>

<h4><a id="hobby" name="hooby"  th:if="${user.role} =='student'">个人兴趣</a></h4>

<div id="getUserHobby" th:if="${hobbyList}">
    <table>
        <tr >
            <td>ID </td>
            <td>兴趣名称</td>
            <td>兴趣描述</td>
            <td>备注</td>
            <td>操作</td>
        </tr>
        <tr th:each="hobby:${hobbyList}">
            <td th:text="${hobby.id}"></td>
            <td th:text="${hobby.name}"></td>
            <td th:text="${hobby.summary}"></td>
            <td th:text="${hobby.others}"></td>
            <td><a id="modifyUserHobby" name="modifyUserHobby" th:href="@{/modifyUserHobbyPage(id=${hobby.id})}">修改</a></td>
            <td><a id="deleteUserHobby" name="deleteUserHobby" th:href="@{/deleteUserHobby(id=${hobby.id})}">删除</a></td>
        </tr>
    </table>
</div>
</body>
</html>